.gradle
.idea
build
out
hs_err_pid*.log
frames
release
networks
*.jar
maps
data/florian.jpg
examples/FaceDetectorSpeedTest/data/shibuya-long.mp4
data/happy.png
target
data/family.jpg
data/runner.jpg
data/runner2.jpg
*.dmp
*.txt
*.trc
